.moodBlue {
  background-color: rgba(54, 54, 232, 0.305);
  height: 100vh;
}

.blue-header {
  font-family: "My Soul", cursive;
  font-size: 60px;
  text-align: center;
  padding-top: 20px;
  color: blue;
}
